body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #7c4dff;
    text-align: center;
    padding: 10px 0;
}
h1 {
    font-family: system-ui;
    letter-spacing: 6px;
    color: rgb(237, 231, 246);
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.column {
    flex: 1;
    padding: 10px;
    background-color: #b388ff;;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}
form{
    background: #ede7f6;
    padding: 8px;
}
.search{
    margin-left: 12px;
    width: 320px;
    margin-bottom: 4px;
    height: 18px;
}
button{
    background-color: #311b92;
    color: white;
    width: 70px;
    height: 33px;
    font-size: medium;
    font-style: normal;
    font-weight: 700;
    border-radius: 12px;
}